scikit-learn
nltk
gensim
pandas
fugashi
mecab-python3
unidic-lite
transformers
openpyxl
torch
xlwt
datasets
ipadic #for bert japanese
sentencepiece
protobuf
tensorboardX
tensorboard
rank_bm25
seaborn
pandas
pytorch_lightning
accelerate
bitsandbytes
sentence_transformers
flask